In [1]:
import numpy as np
import pandas as pd

# Quantization

In [12]:
def quantize(min, max, L=None, Nb= None):
    if L == None and Nb != None:
        L = int(np.power(2,Nb))
    elif L != None and Nb == None:
        Nb = int(np.ceil(np.log2(L)))
    delta = (max - min) / L
    
    # [ [index, start_range, end_range, real_value, code] ]
    table = []
    for i in range(L):
        start_range = min + (i * delta)
        end_range = start_range + delta
        real_value = (start_range + end_range) / 2
        code = np.binary_repr(i,Nb)
        table.append([i, start_range, end_range, real_value, code])
    return table

In [15]:
data = quantize(min=200, max=1800, Nb= 4)
columns = ['index', 'start_range', 'end_range', 'real_value', 'code']
pd.DataFrame(data, columns=columns)

    index  start_range  end_range  real_value  code
0       0        200.0      300.0       250.0  0000
1       1        300.0      400.0       350.0  0001
2       2        400.0      500.0       450.0  0010
3       3        500.0      600.0       550.0  0011
4       4        600.0      700.0       650.0  0100
5       5        700.0      800.0       750.0  0101
6       6        800.0      900.0       850.0  0110
7       7        900.0     1000.0       950.0  0111
8       8       1000.0     1100.0      1050.0  1000
9       9       1100.0     1200.0      1150.0  1001
10     10       1200.0     1300.0      1250.0  1010
11     11       1300.0     1400.0      1350.0  1011
12     12       1400.0     1500.0      1450.0  1100
13     13       1500.0     1600.0      1550.0  1101
14     14       1600.0     1700.0      1650.0  1110
15     15       1700.0     1800.0      1750.0  1111